.slider-container {
    max-width: 600px;
    margin: 50px auto;
    position: relative;
}

#slider {
    width: 100%;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.controls button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}
button{
    background-color: aqua;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
body{
    background-color: rgba(255, 238, 0, 0.311);
}